<!DOCTYPE html>
<html>

<head>
    <title>bafflinghaze's blog</title>
</head>

<body>

    <header>
        <h1><a href="/">baffling's blog</a></h1>
    </header>

    <article>
        <time>published: 12.09.2026, 11:41</time>
        <h2><a href="">My first post</a></h2>
        <p>Hi there!</p>
        <p>It works!</p>
    </article>

    <article>
        <time>published: 12.09.2026, 11:41</time>
        <h2><a href="">My second post</a></h2>
        <p>Hi there!</p>
        <p>It works!</p>
    </article>



</body>

</html>